@model System.Collections.Generic.IEnumerable<StoryVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllStories";
}

<h2>ViewAllStories</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Client</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    @foreach (StoryVM Value in Model)
    {
        <tr>
            <td>@Html.DisplayName(Value.StoryName)</td>
            <td>@Html.DisplayName(Value.StoryNumber.ToString())</td>
            <td>@Html.DisplayName(Value.StoryStartDate.ToString())</td>
            <td>@Html.DisplayName(Value.StoryEndDate.ToString())</td>
            <td>@Html.DisplayName(Value.Client.ClientName)</td>
            <td>@Html.DisplayName(Value.Created.ToString())</td>
            <td>@Html.DisplayName(Value.CreatedBy)</td>
            <td>@Html.DisplayName(Value.Modified.ToString())</td>
            <td>@Html.DisplayName(Value.ModifiedBy)</td>
            <td>@Html.ActionLink("View Story", "ViewStory", routeValues: new { StoryID = Value.StoryID })</td>
        </tr>
    }
</table>