<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
              <a href="~/Home/Index"><img src="http://www.onshoreoutsourcing.com/wp-content/uploads/2017/04/oo_web360px.png" onclick=""/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @*Dropdown Boxes for the Nav-Bar Need CSS to make more appropriate*@
                    @if (Session[""] != null)
                    {
                        <li>
                            <div>
                                <div>
                                    <ul>
                                        <li>@Html.ActionLink("Report A", "", "")</li>
                                        <li>@Html.ActionLink("Report B", "", "")</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div>
                                <div>
                                    <ul>
                                        <li>@Html.ActionLink("View My KPI", "", "")</li>
                                        <li>@Html.ActionLink("KPI Form", "", "")</li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    @*Fill Session With Appropriate String when LoginController is Created*@
                    <li>@Html.ActionLink(Session["Name"].ToString(),"","")</li>
                        <li>@Html.ActionLink("Log-Out", "", "")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Log-In", "", "")</li>
                      }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
