<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/OraStyler.css" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/OraStyler.css")
    @Styles.Render("~/Content/bootstrap.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#f2f2f2; height:100%" class="Raleway">
    @*for the header/moved coding for 'login/signup'*@
    <div class="wrapper">
        <div class="wrapper_inner">
            <header class="fixed">
                <div class="container">
                    <div class="clearfix header_top_bottom_holder">
                        <div class="header_top">
                            <div class="container">
                                <div class="container_inner">
                                    <div class="left">
                                        <div class="inner"></div>
                                    </div>
                                    <div class="right">
                                        <div class="inner">
                                            <div>
                                                <div>
                                                    <ul class="list-inline">
                                                        @*Make sure the user sees their name and current session's name*@
                                                        @*Fill Session With Appropriate String when LoginController is Created*@
                                                        @*<li>@Html.ActionLink( @*Replace this String Value With Session[""] and have it redirect to the account controller, or dropdownbox for more options" ", "", "")</li>*@
                                                        @if (Session.SessionID == null)
                                                        {
                                                            <li>@Html.ActionLink("Log-Out", "", "")</li>
                                                        }
                                                        else
                                                        {
                                                        <li>@Html.ActionLink("Log-In", "", "")</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="header_bottom">
                            <div class="container">
                                <div class="container_inner clearfix">
                                    <div class="header_left">
                                        <div style="height:100px">
                                            <a href="~/Home/Index">
                                                <img style="height:100px" src="http://www.onshoreoutsourcing.com/wp-content/uploads/2017/04/oo_web360px.png" alt="Logo" onclick="" />
                                            </a>
                                        </div>
                                    </div>
                                    <nav class=" header_right right">
                                        <ul class="list-inline">
                                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                            @*Dropdown Boxes for the Nav-Bar Need CSS to make more appropriate*@
                                            @*@if (Session[""] != null)
                                                {*@
                                            <li class="dropdown nav_content">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>Assessment</span>
                                                    <ul class="dropdown-menu">
                                                        <li>@Html.ActionLink("Create an Assessment", "CreateAssessment", "Assessment")</li>
                                                        <li>@Html.ActionLink("View All Assessments", "ViewAllAssessments", "Assessment")</li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>Assignment</span>
                                                    <ul class="dropdown-menu">
                                                        <li>@Html.ActionLink("Create an Assignment", "CreateAssignment", "Assignment")</li>
                                                        <li>@Html.ActionLink("View All Assignments", "ViewAllAssignments", "Assignment")</li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>Client</span>
                                                    <ul class="dropdown-menu">
                                                        <li><a>@Html.ActionLink("Add a Client", "AddClient", "Client")</a></li>
                                                        <li><a>@Html.ActionLink("View All Clients", "ViewAllClients", "Client")</a></li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>Employee</span>
                                                    <ul class="dropdown-menu">
                                                        <li><a>@Html.ActionLink("Add an Employee", "AddEmployee", "Employee")</a></li>
                                                        <li><a>@Html.ActionLink("View All Employees", "ViewAllEmployees", "Employee")</a></li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>KPI</span>
                                                    <ul class="dropdown-menu">
                                                        <li><a>@Html.ActionLink("Create a KPI", "CreateKPI", "KPI")</a></li>
                                                        <li><a>@Html.ActionLink("View All KPIs", "ViewAllKPI", "KPI")</a></li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>Project</span>
                                                    <ul class="dropdown-menu">
                                                        <li><a>@Html.ActionLink("Create a Project", "CreateProject", "Project")</a></li>
                                                        <li><a>@Html.ActionLink("View All Projects", "ViewAllProjects", "Project")</a></li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>Sprint</span>
                                                    <ul class="dropdown-menu">
                                                        <li><a>@Html.ActionLink("Create a Sprint", "CreateSprint", "Sprint")</a></li>
                                                        <li><a>@Html.ActionLink("View All Sprints", "ViewAllSprints", "Sprint")</a></li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>Story</span>
                                                    <ul class="dropdown-menu">
                                                        <li><a>@Html.ActionLink("Create a Story", "CreateStory", "Story")</a></li>
                                                        <li><a>@Html.ActionLink("View All Stories", "ViewAllStories", "Story")</a></li>
                                                    </ul>
                                                </a>
                                            </li>
                                            <li class="dropdown">
                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                                    <span>Team</span>
                                                    <ul class="dropdown-menu">
                                                        <li><a>@Html.ActionLink("Create a Team", "CreateTeam", "Team")</a></li>
                                                        <li><a>@Html.ActionLink("View All Teams", "ViewAllTeams", "Team")</a></li>
                                                    </ul>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </header>
            <div class="container body-content" style="padding-top: 163px; height:100%; ">
                @RenderBody()
            </div>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Onshore</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
