@model Lib.ViewModels.ProfileVM
@{
    ViewBag.Title = "My Profile";
}
@if ((int)TempData["Error"] == 1)
{
    using (Html.BeginForm("ViewProfile", "Profile", FormMethod.Post))
    {
        <span>This associate has not filled out all of thier information. Would you like to view thier profile anyway?</span>
        <br />
        @Html.Hidden("ProfileID", int.Parse(TempData["ProfileID"].ToString()))
        <input type="submit" value="Continue" />
    }
}
else if ((int)TempData["Error"] == 2)
{
    <span>This associate does not have a profile created.</span>
}
else
{
    <h2>@Session["Name"].ToString()</h2>
    <body>
        <div class="row">
            <div class="col-md-4">
                @Html.DisplayName(Model.FirstName) @Html.DisplayName(Model.LastName)
            </div>
            <div class="col-md-8">
                <button id="MyBiobtn">My Biography</button>
                <button id="kpi-btn">My KPI</button>
                <button id="Assess-btn">My Assessment</button>
                <button id="Team-btn">My Team</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @if (Model.Education != null)
                {
                    <div>@Html.DisplayFor(m => m.Education.EducationName, new { @Class = "LabelFormat" })</div>
                }
                else
                {
                    <div>No education information has been givin.</div>
                }
            </div>
            <div class="col-md-8">
                <div id="MyBio">
                    @if (Model.Country != null && Model.Zip != 0 && Model.Summary != null)
                    {
                        <div>
                            @Html.DisplayFor(m => m.Summary, new { @Class = "LabelFormat" })
                        </div>
                        <address>
                            @Html.DisplayName(Model.Country), @Html.DisplayName(Model.Zip.ToString())
                        </address>
                    }
                    else
                    {
                        <span>Address or Bio information has not been filled out.</span>
                    }
                </div>
                <div id="kpi" hidden>
                    <canvas id="canvasKPI"></canvas>
                </div>
                <div id="Assess" hidden>
                    <canvas id="canvasAssessment"></canvas>
                </div>
                <div id="Team" hidden>
                    Team
                </div>
            </div>
        </div>
    </body>
}
<script>
    $(document).ready(function () {
        $('#kpi-btn').click(function () {
            $('#kpi').show();
            $('#Assess').hide();
            $('#MyBio').hide();
            $('#Team').hide();

        });
    });
    $(document).ready(function () {
        $('#Assess-btn').click(function () {
            $('#Assess').show();
            $('#kpi').hide();
            $('#MyBio').hide();
            $('#Team').hide();
        });
    });
    $(document).ready(function () {
        $('#MyBiobtn').click(function () {
            $('#MyBio').show();
            $('#summary').show();
            $('#kpi').hide();
            $('#Assess').hide();
            $('#Team').hide();
        });
    });
    $(document).ready(function () {
        $('#Team-btn').click(function () {
            $('#Team').show();
            $('#kpi').hide();
            $('#Assess').hide();
            $('#MyBio').hide();
        });
    });
    $(document).ready(function () {
        $.ajax({
            url: '/Assessment/GetAverage',
            type: 'GET',
            success: function (data) {
                assessmentAvg = data.toString().split(',');
                graphAssessment();
            },
            error: function (error) {
                alert(error.statusText);
            }
        });
        $.ajax({
            url: '/KPI/GetAverage',
            type: 'GET',
            success: function (data) {
                graphKPI();
            },
            error: function (error) {
                console.log(error.statusText);
            }
        });
    });
</script>