@model Lib.ViewModels.CreateProjectVM
@{
    ViewBag.Title = "Create Project";
}

<h2>CreateProject</h2>

@using (Html.BeginForm("CreateProject", "Project", FormMethod.Post))
{
    <div>
        <div>
            <div>
                @Html.LabelFor(m => m.Title, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Title)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.ProjectName, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.ProjectName)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.ProjectNumber, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.ProjectNumber, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.ProjectNumber)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.ProjectStartDate, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.ProjectStartDate, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.ProjectStartDate)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.ProjectEndDate, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.ProjectEndDate, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.ProjectEndDate)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.Client, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.ClientID, new SelectList(Model.ClientList, "ClientID", "ClientName", new { @id = "dropdown" }), "---Select A Client---")
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Client)</font>
            </div>
            @Html.HiddenFor(m => m.CreatedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.ModifiedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.Created, new { @Value = DateTime.Now })
            @Html.HiddenFor(m => m.Modified, new { @Value = DateTime.Now })
            <input type="submit" value="Submit" />
        </div>
    </div>
}
