@model Lib.ViewModels.ProjectVM
@{
    ViewBag.Title = "ViewProject";
}

<h2>ViewProject</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Number</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Client</th>
        <th>KPI</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        <td>@Html.Display(Model.Title)</td>
        <td>@Html.Display(Model.ProjectName)</td>
        <td>@Html.Display(Model.ProjectNumber.ToString())</td>
        <td>@Html.Display(Model.ProjectStartDate.ToString())</td>
        <td>@Html.Display(Model.ProjectEndDate.ToString())</td>
        <td>@Html.Display(Model.Client.ClientName)</td>
        <td>@Html.ActionLink("View KPIs", "ViewListKPIs", "KPI", routeValues: new { ProjectID = Model.ProjectID }, htmlAttributes: new { Area = "" })</td>
        <td>@Html.Display(Model.Created.ToString())</td>
        <td>@Html.Display(Model.CreatedBy)</td>
        <td>@Html.Display(Model.Modified.ToString())</td>
        <td>@Html.Display(Model.ModifiedBy)</td>
    </tr>
</table>