@model System.Collections.Generic.IEnumerable<KPIVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllKPI";
}

<h2>View All KPIs</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Points</th>
        <th>TC Created</th>
        <th>TC Excuted</th>
        <th>TC Failed</th>
        <th>TC Passed</th>
        <th>Defects Found</th>
        <th>Defects Fixed</th>
        <th>Defects Accepted</th>
        <th>Defects Rejected</th>
        <th>Defects Deferred</th>
        <th>Critical Defects</th>
        <th>Test Hrs Planned</th>
        <th>Actual Test Hrs</th>
        <th>Bugs Found Production</th>
        <th>Total Hrs Fixing Bugs</th>
        <th>Assignment</th>
        <th>Project</th>
        <th>Sprint</th>
        <th>Story</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>

    @foreach (KPIVM Value in Model)
    {
        <tr>
            <td>@Html.Display(Value.Title)</td>
            <td>@Html.Display(Value.Points.ToString())</td>
            <td>@Html.Display(Value.TCCreated.ToString())</td>
            <td>@Html.Display(Value.TCExcuted.ToString())</td>
            <td>@Html.Display(Value.TCFailed.ToString())</td>
            <td>@Html.Display(Value.TCPassed.ToString())</td>
            <td>@Html.Display(Value.DefectsFound.ToString())</td>
            <td>@Html.Display(Value.DefectsFixed.ToString())</td>
            <td>@Html.Display(Value.DefectsAccepted.ToString())</td>
            <td>@Html.Display(Value.DefectsDeferred.ToString())</td>
            <td>@Html.Display(Value.CriticalDefects.ToString())</td>
            <td>@Html.Display(Value.TestHrsPlanned.ToString())</td>
            <td>@Html.Display(Value.TestHrsActual.ToString())</td>
            <td>@Html.Display(Value.BugsFoundProduction.ToString())</td>
            <td>@Html.Display(Value.TotalHrsFixingBugs.ToString())</td>
            <td>@Html.Display(Value.Assignment.Title)</td>
            <td>@Html.Display(Value.Sprint.Title)</td>
            <td>@Html.Display(Value.Story.Title)</td>
            <td>@Html.Display(Value.Created.ToString())</td>
            <td>@Html.Display(Value.CreatedBy)</td>
            <td>@Html.Display(Value.Modified.ToString())</td>
            <td>@Html.Display(Value.ModifiedBy)</td>
            <td>@Html.ActionLink("ViewKPI", "KPI", routeValues: new { KPIID = Value.KPIID })</td>
        </tr>
    }
</table>