@model Lib.ViewModels.CreateKPIVM
@{
    ViewBag.Title = "ViewIndividualKPI";
}

<h2>ViewIndividualKPI</h2>


@Html.BeginForm("ViewIndividualAssessment", "Assessment", FormMethod.Post)
@Html.Label("Start Date", new { @class = "LableFormat" })
@Html.TextBox("StartDate", DateTime.Now, htmlAttributes: new { @class = "form-control TextBoxFormat" })
@Html.Label("End Date", new { @class = "LableFormat" })
@Html.TextBox("EndDate", DateTime.Now, htmlAttributes: new { @class = "form-control TextBoxFormat" })
<input type="submit" value="Submit" />