@model Lib.ViewModels.KPIVM
@{
    ViewBag.Title = "ViewKPI";
}

<h2>View KPI</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Points</th>
        <th>TC Created</th>
        <th>TC Excuted</th>
        <th>TC Failed</th>
        <th>TC Passed</th>
        <th>Defects Found</th>
        <th>Defects Fixed</th>
        <th>Defects Accepted</th>
        <th>Defects Rejected</th>
        <th>Defects Deferred</th>
        <th>Critical Defects</th>
        <th>Test Hrs Planned</th>
        <th>Actual Test Hrs</th>
        <th>Bugs Found Production</th>
        <th>Total Hrs Fixing Bugs</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        @*@if (Model.Title. == null)
        {
            <td>null</td>
        }
        else
        {
            <td>@Html.DisplayName(Model.Title)</td>
        }*@
        <td></td>
        <td>@Html.DisplayName(Model.Points.ToString())</td>
        <td>@Html.DisplayName(Model.TCCreated.ToString())</td>
        <td>@Html.DisplayName(Model.TCExcuted.ToString())</td>
        <td>@Html.DisplayName(Model.TCFailed.ToString())</td>
        <td>@Html.DisplayName(Model.TCPassed.ToString())</td>
        <td>@Html.DisplayName(Model.DefectsFound.ToString())</td>
        <td>@Html.DisplayName(Model.DefectsFixed.ToString())</td>
        <td>@Html.DisplayName(Model.DefectsAccepted.ToString())</td>
        <td>@Html.DisplayName(Model.DefectsRejected.ToString())</td>
        <td>@Html.DisplayName(Model.DefectsDeferred.ToString())</td>
        <td>@Html.DisplayName(Model.CriticalDefects.ToString())</td>
        <td>@Html.DisplayName(Model.TestHrsPlanned.ToString())</td>
        <td>@Html.DisplayName(Model.TestHrsActual.ToString())</td>
        <td>@Html.DisplayName(Model.BugsFoundProduction.ToString())</td>
        <td>@Html.DisplayName(Model.TotalHrsFixingBugs.ToString())</td>
        <td>@Html.DisplayName(Model.Created.ToString())</td>
        <td>@Html.DisplayName(Model.CreatedBy)</td>
        <td>@Html.DisplayName(Model.Modified.ToString())</td>
        <td>@Html.DisplayName(Model.ModifiedBy)</td>
        <td>@Html.ActionLink("Remove", "RemoveKPI", routeValues: new { KPIID = Model.KPIID })</td>
        <td>@Html.ActionLink("Update", "UpdateKPI", routeValues: new { KPIID = Model.KPIID })</td>
    </tr>
</table>