@model Lib.ViewModels.AssessmentVM
@{
    ViewBag.Title = "ViewAssessment";
}

<h2>Assessment</h2>
<table>
    <tr>
        <th>TD Problem Solving</th>
        <th>TD Quality Of Work</th>
        <th>TD Productivity</th>
        <th>TD Product Knowledge</th>
        <th>TD Comments</th>
        <th>CSR Professionalism Teamwork</th>
        <th>CSR Verbal Skills</th>
        <th>CSR Written Skills</th>
        <th>CSR Listening Skills</th>
        <th>CSR Comments</th>
        <th>AD Attendence</th>
        <th>AD Ethic Behavior</th>
        <th>AD Meets Deadlines</th>
        <th>AD Organize Detailed Work</th>
        <th>AD Comments</th>
        <th>TM Resouce Use</th>
        <th>TM Feedback</th>
        <th>TM Technical Monitoring</th>
        <th>TM Askoing Questions</th>
        <th>TM Comments</th>
        <th>MI Attitude Work</th>
        <th>MI Grooming Appearance</th>
        <th>MI Personal Growth</th>
        <th>MI Potencial Advancement</th>
        <th>MI Comments</th>
        <th>Active </th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        <td>@Html.DisplayName(Model.TDProblemSolving.ToString())</td>
        <td>@Html.DisplayName(Model.TDQualityOfWork.ToString())</td>
        <td>@Html.DisplayName(Model.TDProductivity.ToString())</td>
        <td>@Html.DisplayName(Model.TDProductKnowledge.ToString())</td>
        @if (Model.TDComments != null)
        {
            <td>@Html.DisplayName(Model.TDComments)</td> 
        }
        else
        {
            <td>null</td>
        }
        <td>@Html.DisplayName(Model.CSRProfessionalismTeamwork.ToString())</td>
        <td>@Html.DisplayName(Model.CSRVerbalSkills.ToString())</td>
        <td>@Html.DisplayName(Model.CSRWrittenSkills.ToString())</td>
        <td>@Html.DisplayName(Model.CSRListeningSkills.ToString())</td>
        @if (Model.CSRComments != null)
        {
            <td>@Html.DisplayName(Model.CSRComments)</td>
        }
        else
        {
            <td>null</td>
        }
        <td>@Html.DisplayName(Model.ADAttendence.ToString())</td>
        <td>@Html.DisplayName(Model.ADEthiclBehavior.ToString())</td>
        <td>@Html.DisplayName(Model.ADMeetsDeadlines.ToString())</td>
        <td>@Html.DisplayName(Model.ADOrganizeDetailedWork.ToString())</td>
        @if (Model.ADComments != null)
        {
            <td>@Html.DisplayName(Model.ADComments)</td>
        }
        else
        {
            <td>null</td>
        }
        <td>@Html.DisplayName(Model.TMResourceUse.ToString())</td>
        <td>@Html.DisplayName(Model.TMFeedBack.ToString())</td>
        <td>@Html.DisplayName(Model.TMTechnicalMonitoring.ToString())</td>
        <td>@Html.DisplayName(Model.TMAskingQuestions.ToString())</td>
        @if (Model.TMComments != null)
        {
            <td>@Html.DisplayName(Model.TMComments)</td>
        }
        else
        {
            <td>null</td>
        }
        <td>@Html.DisplayName(Model.MIAttitudeWork.ToString())</td>
        <td>@Html.DisplayName(Model.MIGroomingAppearence.ToString())</td>
        <td>@Html.DisplayName(Model.MIPersonalGrowth.ToString())</td>
        <td>@Html.DisplayName(Model.MIPotencialAdvancement.ToString())</td>
        @if (Model.MIComments != null)
        {
            <td>@Html.DisplayName(Model.MIComments)</td>
        }
        else
        {
            <td>null</td>
        }
        <td>@Html.DisplayName(Model.ActiveFlag.ToString())</td>
        <td>@Html.DisplayName(Model.Created.ToString())</td>
        <td>@Html.DisplayName(Model.CreatedBy)</td>
        <td>@Html.DisplayName(Model.Modified.ToString())</td>
        <td>@Html.DisplayName(Model.ModifiedBy)</td>
    </tr>
</table>