@model System.Collections.Generic.IEnumerable<AssessmentVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAssessment";
}

<h2>Assessment</h2>
<br />
<table>
    <tr>
        <th>TD Problem Solving</th>
        <th>TD Quality Of Work</th>
        <th>TD Productivity</th>
        <th>TD Product Knowledge</th>
        <th>TD Comments</th>
        <th>CSR Professionalism Teamwork</th>
        <th>CSR Verbal Skills</th>
        <th>CSR Written Skills</th>
        <th>CSR Listening Skills</th>
        <th>CSR Comments</th>
        <th>AD Attendence</th>
        <th>AD Ethic Behavior</th>
        <th>AD Meets Deadlines</th>
        <th>AD Organize Detailed Work</th>
        <th>AD Comments</th>
        <th>TM Resouce Use</th>
        <th>TM Feedback</th>
        <th>TM Technical Monitoring</th>
        <th>TM Askoing Questions</th>
        <th>TM Comments</th>
        <th>MI Attitude Work</th>
        <th>MI Grooming Appearance</th>
        <th>MI Personal Growth</th>
        <th>MI Potencial Advancement</th>
        <th>MI Comments</th>
        <th>Active </th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>

    @if (Model == null)
    {
        <tr>
            <span>Data Not Found</span>
        </tr>
    }

    else
    {
        foreach (AssessmentVM Value in Model)
        {
            <tr>
                <td>@Html.DisplayName(Value.TDProblemSolving.ToString())</td>
                <td>@Html.DisplayName(Value.TDQualityOfWork.ToString())</td>
                <td>@Html.DisplayName(Value.TDProductivity.ToString())</td>
                <td>@Html.DisplayName(Value.TDProductKnowledge.ToString())</td>
                @if (Value.TDComments == null)
                {
                    <td>Null</td>
                }
                else
                {
                    <td>@Html.DisplayName(Value.TDComments.ToString())</td>
                }

                <td>@Html.DisplayName(Value.CSRProfessionalismTeamwork.ToString())</td>
                <td>@Html.DisplayName(Value.CSRVerbalSkills.ToString())</td>
                <td>@Html.DisplayName(Value.CSRWrittenSkills.ToString())</td>
                <td>@Html.DisplayName(Value.CSRListeningSkills.ToString())</td>
                @if (Value.CSRComments == null)
                {
                    <td>Null</td>}
                else
                {
                    <td>@Html.DisplayName(Value.CSRComments.ToString())</td>
                }

                <td>@Html.DisplayName(Value.ADAttendence.ToString())</td>
                <td>@Html.DisplayName(Value.ADEthiclBehavior.ToString())</td>
                <td>@Html.DisplayName(Value.ADMeetsDeadlines.ToString())</td>
                <td>@Html.DisplayName(Value.ADOrganizeDetailedWork.ToString())</td>
                @if (Value.ADComments == null)
                {
                    <td>Null</td>}
                else
                {
                    <td>@Html.DisplayName(Value.ADComments.ToString())</td>
                }

                <td>@Html.DisplayName(Value.TMResourceUse.ToString())</td>
                <td>@Html.DisplayName(Value.TMFeedBack.ToString())</td>
                <td>@Html.DisplayName(Value.TMTechnicalMonitoring.ToString())</td>
                <td>@Html.DisplayName(Value.TMAskingQuestions.ToString())</td>
                @if (Value.TMComments == null)
                {
                    <td>Null</td>}
                else
                {
                    <td>@Html.DisplayName(Value.TMComments.ToString())</td>
                }

                <td>@Html.DisplayName(Value.MIAttitudeWork.ToString())</td>
                <td>@Html.DisplayName(Value.MIGroomingAppearence.ToString())</td>
                <td>@Html.DisplayName(Value.MIPersonalGrowth.ToString())</td>
                <td>@Html.DisplayName(Value.MIPotencialAdvancement.ToString())</td>
                @if (Value.MIComments == null)
                {
                    <td>Null</td>}
                else
                {
                    <td>@Html.DisplayName(Value.MIComments.ToString())</td>
                }
                <td>@Html.DisplayName(Value.ActiveFlag.ToString())</td>
                <td>@Html.DisplayName(Value.Created.ToString())</td>
                <td>@Html.DisplayName(Value.CreatedBy.ToString())</td>
                <td>@Html.DisplayName(Value.Modified.ToString())</td>
                <td>@Html.DisplayName(Value.ModifiedBy.ToString())</td>


            </tr>
        }
    }
</table>