@model Lib.ViewModels.EmployeeVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/SplashSheet.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" type="text/css" />
</head>
<body>
    <main>
        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
            <div class="box">
                <div class="box_colored">
                    <div style="margin:20px 0px;">
                        <p>@Html.LabelFor(m => m.Email, new { @class = "LableFormat" })</p>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control TextboxFormat" })
                        <font color="ff0000">@Html.ValidationMessageFor(m => m.Email)</font>
                    </div>
                    <div style="margin:20px 0px;">
                        <p>@Html.LabelFor(m => m.Password, new { @class = "LableFormat" })</p>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control TextboxFormat" })
                        <font color="">@Html.ValidationMessageFor(m => m.Password)</font>
                    </div>
                </div>
                <input class="btn btn-default login_btn" type="submit" value="Login" style="margin:10px 0px;" />
            </div>
        }
    </main>

</body>
</html>