@model Lib.ViewModels.CreateAssignmentVM
@{
    ViewBag.Title = "CreateAssignment";
}
<h2>CreateAssignment</h2>

@using (Html.BeginForm("CreateAssignment", "Assignment", FormMethod.Post))
{
    <div>
        <div>
            <div>
                @Html.LabelFor(m => m.StartDate, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control TextBoxFormat" })
                <font>@Html.ValidationMessageFor(m => m.StartDate)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.EndDate, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.EndDate)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.Client, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.ClientID, new SelectList(Model.ClientList, "ClientID", "ClientName", new { id = "dropdown" }))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Client)</font>
            </div>
            <div id="Employee">
                @Html.LabelFor(m => m.Employee, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.EmployeeID, new SelectList(Model.EmployeeList, "EmployeeID", "EmployeeName", new { id = "dropdown" }))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Employee)</font>
            </div>
            <div id="Position">
                @Html.LabelFor(m => m.Position, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.PositionID, new SelectList(Model.PositionList, "PositionID", "Title", new { id = "dropdown" }))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Position)</font>
            </div>
            <div id="Role">
                @Html.LabelFor(m => m.Role, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.RoleID, new SelectList(Model.RoleList, "RoleID", "RoleName", new { id = "dropdown" }))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Role)</font>
            </div>
            <div id="Team">
                @Html.LabelFor(m => m.Team, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.TeamID, new SelectList(Model.TeamList, "TeamID", "TeamName", new { id = "dropdown" }))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Team)</font>
            </div>
            @Html.HiddenFor(m => m.CreatedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.ModifiedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.Created, new { @Value = DateTime.Now })
            @Html.HiddenFor(m => m.Modified, new { @Value = DateTime.Now })
            <input type="submit" value="Submit"/>
        </div>
    </div>
}