@model System.Collections.Generic.List<AssignmentVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllAssigments";
}

<h2>ViewAssigments</h2>

<table>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Client</th>
        <th>Employee</th>
        <th>Position</th>
        <th>Role</th>
        <th>Team</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
        <th>KPI List</th>
        <th>Assessment List</th>
    </tr>
    @foreach (AssignmentVM Value in Model)
    {
        <tr>
            <td>@Html.DisplayName(Value.StartDate.ToString())</td>
            <td>@Html.DisplayName(Value.EndDate.ToString())</td>
            <td>@Html.DisplayName(Value.ClientID.ToString())</td>
            <td>@Html.DisplayName(Value.EmployeeID.ToString())</td>
            <td>@Html.DisplayName(Value.PositionID.ToString())</td>
            <td>@Html.DisplayName(Value.RoleID.ToString())</td>
            <td>@Html.DisplayName(Value.TeamID.ToString())</td>
            <td>@Html.DisplayName(Value.Created.ToString())</td>
            <td>@Html.DisplayName(Value.CreatedBy)</td>
            <td>@Html.DisplayName(Value.Modified.ToString())</td>
            <td>@Html.DisplayName(Value.ModifiedBy)</td>
            <td>@Html.ActionLink("View KPIs", "ViewListKPIByAssignment", "KPI", new { AssignmentID = Value.AssignmentID }, new { Area = "" })</td>
            <td>@Html.ActionLink("View Assessments", "ViewAssignment", "Assignment", new { AssignmentID = Value.AssignmentID }, new { Area = "" })</td>
            <td>@Html.ActionLink("View Assessment", "ViewAssessment", routeValues: new { ID = Value.AssignmentID })</td>
        </tr>
    }
</table>