@model Lib.ViewModels.AssignmentVM
@using Lib.ViewModels
@{
    ViewBag.Title = "UpdateAssigments";
}

<h2>UpdateAssigments</h2>

@using (Html.BeginForm("UpdateAssigments", "Assignment", FormMethod.Post))
{
    <div>
        <div>
            <div>
                @Html.LabelFor(m => m.StartDate, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control TextBoxFormat" })
                <font>@Html.ValidationMessageFor(m => m.StartDate)</font>>
            </div>
            <div>
                @Html.LabelFor(m => m.EndDate, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control TextBoxFormat" })
                <font>@Html.ValidationMessageFor(m => m.EndDate)</font>>
            </div>
            <div>
                @Html.LabelFor(m => m.Client, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.Client, new SelectList(Model.ClientList))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Client)</font>
            </div>
            <div id="Employee">
                @Html.LabelFor(m => m.Employee, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.Employee, new SelectList(Model.EmployeeList))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Employee)</font>
            </div>
            <div id="Position">
                @Html.LabelFor(m => m.Position, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.Position, new SelectList(Model.PositionList))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Position)</font>
            </div>
            <div id="Role">
                @Html.LabelFor(m => m.Role, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.Role, new SelectList(Model.RoleList))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Role)</font>
            </div>
            <div id="Team">
                @Html.LabelFor(m => m.Team, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.Team, new SelectList(Model.TeamList))
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Team)</font>
            </div>
            </div>
            @Html.HiddenFor(m => m.AssignmentID, new { Value = Model.AssignmentID })
            @Html.HiddenFor(m => m.ModifiedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.Modified, new { @Value = DateTime.Now })
            <input type="submit" value="Submit" />
        </div>
    </div>
}