@model Lib.ViewModels.AssignmentVM
@using Lib.ViewModels
@{
    ViewBag.Title = "UpdateAssigments";
}

<h2>UpdateAssigments</h2>

@using (Html.BeginForm("UpdateAssigments", "Assignment", FormMethod.Post))
{
    <div>
        <div>
            <div>
                @Html.LabelFor(m => m.Title, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Title)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.StartDate, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.StartDate, new { @class = "form-control TextBoxFormat" })
                <font>@Html.ValidationMessageFor(m => m.StartDate)</font>>
            </div>
            <div>
                @Html.LabelFor(m => m.EndDate, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.EndDate, new { @class = "form-control TextBoxFormat" })
                <font>@Html.ValidationMessageFor(m => m.EndDate)</font>>
            </div>
            <div>
                @Html.LabelFor(m => m.Client, new { @class = "LabelFormat" })
                <div id="Client">
                    <script>$(document).ready(DropDown("Client", "/Client/GetClients"))</script>
                </div>
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Client)</font>
            </div>
            <div id="Employee">
                @Html.LabelFor(m => m.Employee, new { @class = "LabelFormat" })
                <div id="Employee">
                    <script>$(document).ready(DropDown("Employee", "/Employee/GetEmployees"))</script>
                </div>
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Employee)</font>
            </div>
            <div id="Position">
                @Html.LabelFor(m => m.Position, new { @class = "LabelFormat" })
                <div id="Position">
                    <script>$(document).ready(DropDown("Position", "/Function/GetPositions"))</script>
                </div>
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Position)</font>
            </div>
            <div id="Role">
                @Html.LabelFor(m => m.Role, new { @class = "LabelFormat" })
                <div id="Role">
                    <script>$(document).ready(DropDown("Role", "/Function/GetRoles"))</script>
                </div>
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Role)</font>
            </div>
            <div id="Team">
                @Html.LabelFor(m => m.Team, new { @class = "LabelFormat" })
                <div id="Team">
                    <script>$(document).ready(DropDown("Team", "/Team/GetTeams"))</script>
                </div>
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Team)</font>
            </div>
            @Html.HiddenFor(m => m.AssignmentID, new { Value = Model.AssignmentID })
            @Html.HiddenFor(m => m.ModifiedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.Modified, new { @Value = DateTime.Now })
            <input type="submit" value="Submit" />
        </div>
    </div>
}