@model System.Collections.Generic.IEnumerable<AssignmentVM>
    @using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllAssigments";
}

<h2>ViewAssigments</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Client</th>
        <th>Employee</th>
        <th>Position</th>
        <th>Role</th>
        <th>Team</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
        <th>KPI List</th>
        <th>Assessment List</th>
    </tr>
    @foreach (AssignmentVM Value in Model)
    {
    <tr>
        <td>@Html.Display(Value.Title)</td>
        <td>@Html.Display(Value.StartDate.ToString())</td>
        <td>@Html.Display(Value.EndDate.ToString())</td>
        <td>@Html.Display(Value.Client.ClientName)</td>
        <td>@Html.Display(Value.Employee.EmployeeName)</td>
        <td>@Html.Display(Value.Position.ToString())</td>
        <td>@Html.Display(Value.Role.ToString())</td>
        <td>@Html.Display(Value.Team.TeamName)</td>
        <td>@Html.Display(Value.Created.ToString())</td>
        <td>@Html.Display(Value.CreatedBy)</td>
        <td>@Html.Display(Value.Modified.ToString())</td>
        <td>@Html.Display(Value.ModifiedBy)</td>
        <td>@Html.ActionLink("", "", routeValues: new { KPIList = Value.KPI })</td>
        <td>@Html.ActionLink("", "", routeValues: new { AssessmentList = Value.Assessment })</td>
    </tr>
    }
</table>