@model System.Collections.Generic.IEnumerable<SprintVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllSprints";
}

<h2>All Sprints</h2>

<table>
    <tr>
        <th>Number</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>KPIs</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
        <th></th>
    </tr>
    @foreach (SprintVM Value in Model)
    {
        <tr>
            <td>@Html.DisplayName(Value.SprintNumber.ToString())</td>
            <td>@Html.DisplayName(Value.SprintName)</td>
            <td>@Html.DisplayName(Value.StartDate.ToString())</td>
            <td>@Html.DisplayName(Value.EndDate.ToString())</td>
            <td>@Html.ActionLink("View List KPI", "ViewListKPIBySprint", "KPI", new { SprintID = Value.SprintID }, new { Area = "" })</td>
            <td>@Html.DisplayName(Value.Created.ToString())</td>
            <td>@Html.DisplayName(Value.CreatedBy)</td>
            <td>@Html.DisplayName(Value.Modified.ToString())</td>
            <td>@Html.DisplayName(Value.ModifiedBy)</td>
            <td>@Html.ActionLink("View Sprint", "ViewSprint", routeValues: new { SprintID = Value.SprintID })</td>
        </tr>
    }
</table>