@model Lib.ViewModels.SprintVM
@{
    ViewBag.Title = "ViewSprint";
}

<h2>ViewSprint</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Number</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>KPIs</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        <td>@Html.Display(Model.Title)</td>
        <td>@Html.Display(Model.SprintNumber.ToString())</td>
        <td>@Html.Display(Model.SprintName)</td>
        <td>@Html.Display(Model.StartDate.ToString())</td>
        <td>@Html.Display(Model.EndDate.ToString())</td>
        <td>@Html.ActionLink("ViewListKPI", "KPI", routeValues: new { KPIList = Model.KPI })</td>
        <td>@Html.Display(Model.Created.ToString())</td>
        <td>@Html.Display(Model.CreatedBy)</td>
        <td>@Html.Display(Model.Modified.ToString())</td>
        <td>@Html.Display(Model.ModifiedBy)</td>
    </tr>
</table>