@model System.Collections.Generic.IEnumerable<EmployeeVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllEmployees";
}

<h2>ViewAllEmployees</h2>
<script>
    $(document).ready(function () {
        $('#ActiveButton').click(function () {
            $('#Active').show();
            $('#In-Active').hide();
        });
        $('#In-ActiveButton').click(function () {
            $('#In-Active').show();
            $('#Active').hide();
        });
    });
</script>
<div>
    <button id="ActiveButton">Active</button>
    <button id="In-ActiveButton">In-Active</button>
    <div id="Active">
        <table>
            <tr>
                <th>Badge Number</th>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
                <th>Active</th>
                <th>Assignments</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Modified Date</th>
                <th>Modified By</th>
                <th></th>
            </tr>
            @foreach (EmployeeVM Value in Model)
            {
                if (Value.ActiveFlag)
                {
                    <tr>
                        <td>@Html.DisplayName(Value.EmployeeNumber)</td>
                        <td>@Html.DisplayName(Value.EmployeeFirstName)</td>
                        @if (Value.EmployeeMI != null)
                        {
                        <td>@Html.DisplayName(Value.EmployeeMI)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Html.DisplayName(Value.EmployeeLastName)</td>
                        <td>@Html.DisplayName(Value.ActiveFlag.ToString())</td>
                        <td>@Html.ActionLink("View Assignment", "ViewEmployeeAssignment", "Assignment", new { employeeID = Value.EmployeeID }, new { Area = "" })</td>
                        <td>@Html.DisplayName(Value.Created.ToString())</td>
                        <td>@Html.DisplayName(Value.CreatedBy)</td>
                        <td>@Html.DisplayName(Value.Modified.ToString())</td>
                        <td>@Html.DisplayName(Value.ModifiedBy)</td>
                        <td>@Html.ActionLink("View Employee", "ViewEmployee", routeValues: new { EmployeeID = Value.EmployeeID })</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div id="In-Active" hidden>
        <table>
            <tr>
                <th>Badge Number</th>
                <th>First Name</th>
                <th>Middle Initial</th>
                <th>Last Name</th>
                <th>Active</th>
                <th>Assignments</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Modified Date</th>
                <th>Modified By</th>
                <th></th>
            </tr>
            @foreach (EmployeeVM Value in Model)
            {
                if (!Value.ActiveFlag)
                {
                    <tr>
                        <td>@Html.DisplayName(Value.EmployeeNumber)</td>
                        <td>@Html.DisplayName(Value.EmployeeFirstName)</td>
                        @if (Value.EmployeeMI != null)
                        {
                            <td>@Html.DisplayName(Value.EmployeeMI)</td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Html.DisplayName(Value.EmployeeLastName)</td>
                        <td>@Html.DisplayName(Value.ActiveFlag.ToString())</td>
                        <td>@Html.ActionLink("View Assignment", "ViewEmployeeAssignment", "Assignment", new { employeeID = Value.EmployeeID }, new { Area = "" })</td>
                        <td>@Html.DisplayName(Value.Created.ToString())</td>
                        <td>@Html.DisplayName(Value.CreatedBy)</td>
                        <td>@Html.DisplayName(Value.Modified.ToString())</td>
                        <td>@Html.DisplayName(Value.ModifiedBy)</td>
                        <td>@Html.ActionLink("View Employee", "ViewEmployee", routeValues: new { EmployeeID = Value.EmployeeID })</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>