@model Lib.ViewModels.EmployeeVM
@{
    ViewBag.Title = "ViewEmployee";
}

<h2>ViewEmployee</h2>

<table>
    <tr>
        <th>Badge Number</th>
        <th>First Name</th>
        <th>Middle Initial</th>
        <th>Last Name</th>
        <th>Active</th>
        <th>Assignments</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        <td>@Html.DisplayName(Model.EmployeeNumber)</td>
        <td>@Html.DisplayName(Model.EmployeeFirstName)</td>
        <td>@Html.DisplayName(Model.EmployeeMI)</td>
        <td>@Html.DisplayName(Model.EmployeeLastName)</td>
        <td>@Html.DisplayName(Model.ActiveFlag.ToString())</td>
        <td>@Html.ActionLink("View Assignment", "ViewEmployeeAssignment", "Assignment", new { employeeID = Model.EmployeeID }, new { Area = "" })</td>
        <td>@Html.DisplayName(Model.Created.ToString())</td>
        <td>@Html.DisplayName(Model.CreatedBy)</td>
        <td>@Html.DisplayName(Model.Modified.ToString())</td>
        <td>@Html.DisplayName(Model.ModifiedBy)</td>
    </tr>
</table>