@model Lib.ViewModels.CreateTeamVM
@{
    ViewBag.Title = "CreateTeam";
}

<h2>CreateTeam</h2>

@using (Html.BeginForm("CreateTeam", "Team", FormMethod.Post))
{
    <div>
        <div>
            <div>
                @Html.LabelFor(m => m.Title, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Title)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.TeamName, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.TeamName, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.TeamName)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.Client, new { @class = "LabelFormat" })
                @Html.DropDownListFor(m => m.ClientID, new SelectList(Model.ClientList, "ClientID", "ClientName", new { @id = "dropdown" }), "---Select A Client---")
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Client)</font>
            </div>
            @Html.HiddenFor(m => m.CreatedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.ModifiedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.Created, new { @Value = DateTime.Now })
            @Html.HiddenFor(m => m.Modified, new { @Value = DateTime.Now })
            <input type="submit" value="Submit" />
        </div>
    </div>
}
