@model System.Collections.Generic.IEnumerable<TeamVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllTeams";
}

<h2>ViewAllTeams</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Assignments</th>
        <th>Client</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
        <th></th>
    </tr>
    @foreach (TeamVM Value in Model)
    {
        <tr>
            @if (Value.Title == null)
            {
                <td>null</td>
            }
            else
            {
                <td>@Html.DisplayName(Value.Title)</td>
            }
            <td>@Html.DisplayName(Value.TeamName)</td>
            <td>@Html.ActionLink("View List Assignments", "Assignment", routeValues: new { AssignmentsList = Value.Assignment })</td>
            @if (Value.Client == null)
            {
            <td>null</td>
            }
            else
            {
            <td>@Html.DisplayName(Value.Client.ToString())</td>
            }
            <td>@Html.DisplayName(Value.Created.ToString())</td>
            <td>@Html.DisplayName(Value.CreatedBy)</td>
            <td>@Html.DisplayName(Value.Modified.ToString())</td>
            <td>@Html.DisplayName(Value.ModifiedBy)</td>
            <td>@Html.ActionLink("View Team", "Team", routeValues: new { TeamID = Value.TeamID })</td>
        </tr>
    }
</table>