@model Lib.ViewModels.TeamVM
    @using Lib.ViewModels
@{
    ViewBag.Title = "UpdateTeam";
}

<h2>UpdateTeam</h2>

@using (Html.BeginForm("UpdateTeam", "Team", FormMethod.Post))
{
    <div>
        <div>
            <div>
                @Html.DisplayFor(m => m.Title)
                @Html.TextBoxFor(m => m.Title)
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Title)</font>
            </div>
            <div>
                @Html.DisplayFor(m => m.TeamName)
                @Html.TextBoxFor(m => m.TeamName)
                <font color="ff0000">@Html.ValidationMessageFor(m => m.TeamName)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.Client, new { @class = "LabelFormat" })
                <div id="Client">
                    <script>$(document).ready(DropDown("Client", "/Function/GetClients"))</script>
                </div>
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Client)</font>
            </div>
            @Html.HiddenFor(m => m.TeamID, new { Value = Model.TeamID })
            @Html.HiddenFor(m => m.Metadata.ModifiedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.Metadata.Modified, new { @Value = DateTime.Now })
            <input type="submit" value="Submit" />
        </div>
    </div>
}