@model Lib.ViewModels.TeamVM
@{
    ViewBag.Title = "ViewTeam";
}

<h2>ViewTeam</h2>

<table>
    <tr>
        <th>Name</th>
        <th>Assignments</th>
        <th>Client</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        <td>@Html.DisplayName(Model.TeamName)</td>
        <td>@Html.ActionLink("ViewListAssignments", "Assignment", routeValues: new { AssignmentsList = Model.Assignment })</td>
        <td>@*@Html.Display(Model.Client.ClientName)*@</td>
        <td>@Html.DisplayName(Model.Created.ToString())</td>
        <td>@Html.DisplayName(Model.CreatedBy)</td>
        <td>@Html.DisplayName(Model.Modified.ToString())</td>
        <td>@Html.DisplayName(Model.ModifiedBy)</td>
    </tr>
</table>