@model System.Collections.Generic.IEnumerable<TeamVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllTeams";
}

<h2>ViewAllTeams</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Name</th>
        <th>Assignments</th>
        <th>Client</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        @foreach (TeamVM Value in Model)
        {
            <td>@Html.Display(Value.Title)</td>
            <td>@Html.Display(Value.TeamName)</td>
            <td>@Html.ActionLink("ViewListAssignments", "Assignment", routeValues: new { AssignmentsList = Value.Assignment })</td>
            <td>@Html.Display(Value.Client.ClientName)</td>
            <td>@Html.Display(Value.Created.ToString())</td>
            <td>@Html.Display(Value.CreatedBy)</td>
            <td>@Html.Display(Value.Modified.ToString())</td>
            <td>@Html.Display(Value.ModifiedBy)</td>
            <td>@Html.ActionLink("ViewTeam", "Team", routeValues: new { ID = Value.TeamID })</td>
        }
    </tr>
</table>