@model System.Collections.Generic.IEnumerable<ClientVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllClients";
}

<h2>ViewAllClients</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Client Name</th>
        <th>Abbreviation</th>
        <th>Stories</th>
        <th>Projects</th>
        <th>Teams</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    @foreach (ClientVM Value in Model)
    {
        <tr>
            <td>@Html.DisplayName(Value.ClientName)</td>
            <td>@Html.DisplayName(Value.ClientAbbreviation)</td>
            <td>@Html.ActionLink("View List Stories", "ViewListStories", "Story", new { StoriesList = Value.Story }, new { Area = "" })</td>
            <td>@Html.ActionLink("View List Projects", "ViewListProjects", "Project", new { ProjectsList = Value.Project }, new { Area = "" })</td>
            <td>@Html.ActionLink("View List Teams", "ViewListTeams", "Team", new { TeamsList = Value.Team }, new { Area = "" })</td>
            <td>@Html.DisplayName(Value.Created.ToString())</td>
            <td>@Html.DisplayName(Value.CreatedBy)</td>
            <td>@Html.DisplayName(Value.Modified.ToString())</td>
            <td>@Html.DisplayName(Value.ModifiedBy)</td>
            <td>@Html.ActionLink("ViewClient", "Client", routeValues: new { ClientID = Value.ClientID })</td>
        </tr>
    }
</table>