@model System.Collections.Generic.IEnumerable<ClientVM>
@using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllClients";
}

<h2>ViewAllClients</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Client Name</th>
        <th>Abbreviation</th>
        <th>Assignments</th>
        <th>Stories</th>
        <th>Projects</th>
        <th>Teams</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    @foreach (ClientVM Value in Model)
    {
        <tr>
            <td>@Html.Display(Value.Title)</td>
            <td>@Html.Display(Value.ClientName)</td>
            <td>@Html.Display(Value.ClientAbbreviation)</td>
            <td>@Html.ActionLink("ViewListAssignments", "Assignment", routeValues: new { AssignmentList = Value.Assignment })</td>
            <td>@Html.ActionLink("ViewListStories", "Story", routeValues: new { StoriesList = Value.Story })</td>
            <td>@Html.ActionLink("ViewListProjects", "Project", routeValues: new { ProjectsList = Value.Project })</td>
            <td>@Html.ActionLink("ViewListTeams", "Team", routeValues: new { TeamsList = Value.Team })</td>
            <td>@Html.Display(Value.Created.ToString())</td>
            <td>@Html.Display(Value.CreatedBy)</td>
            <td>@Html.Display(Value.Modified.ToString())</td>
            <td>@Html.Display(Value.ModifiedBy)</td>
            <td>@Html.ActionLink("ViewClient", "Client", routeValues: new { ID = Value.ClientID })</td>
        </tr>
    }
</table>