@model Lib.ViewModels.ClientVM
@{
    ViewBag.Title = "UpdateClient";
}

<h2>UpdateClient</h2>

@using (Html.BeginForm("UpdateClient", "Client", FormMethod.Post))
{
    <div>
        <div>
            <div>
                @Html.LabelFor(m => m.ClientName, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.ClientName, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.ClientName)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.ClientAbbreviation, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.ClientAbbreviation, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.ClientAbbreviation)</font>
            </div>
            <div>
                @Html.LabelFor(m => m.Title, new { @class = "LabelFormat" })
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control TextBoxFormat" })
                <font color="ff0000">@Html.ValidationMessageFor(m => m.Title)</font>
            </div>
            @Html.HiddenFor(m => m.ClientID, new { Value = Model.ClientID })
            @Html.HiddenFor(m => m.ModifiedBy, new { @Value = Session["Name"] })
            @Html.HiddenFor(m => m.Modified, new { @Value = DateTime.Now })
            <input type="submit" value="Submit" />
        </div>
    </div>
}