@model Lib.ViewModels.ClientVM
@{
    ViewBag.Title = "ViewClient";
}

<h2>ViewClient</h2>

<table>
    <tr>
        <th>Client Name</th>
        <th>Abbreviation</th>
        <th>Stories</th>
        <th>Projects</th>
        <th>Teams</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        <td>@Html.Display(Model.ClientName)</td>
        <td>@Html.Display(Model.ClientAbbreviation)</td>
        <td>@Html.ActionLink("View List Stories", "ViewListStoriesByClient", "Story", new { ClientID = Model.ClientID }, new { Area = "" })</td>
        <td>@Html.ActionLink("View List Projects", "ViewListProjectsByClient", "Project", new { ClientID = Model.ClientID }, new { Area = "" })</td>
        <td>@Html.ActionLink("View List Teams", "ViewListTeamsByClient", "Team", new { ClientID = Model.ClientID }, new { Area = "" })</td>
        <td>@Html.Display(Model.Created.ToString())</td>
        <td>@Html.Display(Model.CreatedBy)</td>
        <td>@Html.Display(Model.Modified.ToString())</td>
        <td>@Html.Display(Model.ModifiedBy)</td>
        </tr>
</table>