@model System.Collections.Generic.IEnumerable<ClientVM>
    @using Lib.ViewModels
@{
    ViewBag.Title = "ViewAllClients";
}

<h2>ViewAllClients</h2>

<table>
    <tr>
        <th>Title</th>
        <th>Client Name</th>
        <th>Abbreviation</th>
        <th>Assignments</th>
        <th>Stories</th>
        <th>Projects</th>
        <th>Teams</th>
        <th>Created Date</th>
        <th>Created By</th>
        <th>Modified Date</th>
        <th>Modified By</th>
    </tr>
    <tr>
        @foreach(ClientVM Value in Model)
        {
            <td>@Html.Display(Value.Title)</td>
            <td>@Html.Display(Value.ClientName)</td>
            <td>@Html.Display(Value.ClientAbbreviation)</td>
            <td>@Html.ActionLink("", "", routeValues: new { AssignmentList = Value.Assignments})</td>
            <td>@Html.ActionLink("", "", routeValues: new { StoriesList = Value.Stories })</td>
            <td>@Html.ActionLink("", "", routeValues: new { ProjectsList = Value.Projects })</td>
            <td>@Html.ActionLink("", "", routeValues: new { TeamsList = Value.Teams })</td>
            <td>@Html.Display(Value.Metadata.Created.ToString())</td>
            <td>@Html.Display(Value.Metadata.CreatedBy)</td>
            <td>@Html.Display(Value.Metadata.Modified.ToString())</td>
            <td>@Html.Display(Value.Metadata.ModifiedBy)</td>
        }
    </tr>
</table>